/* you also wwrite 
/* importing font */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;

}

.title{
    font-size: 3rem;
    margin:6vh;
    border:7px dashed rgb(1,17,160);
    padding:1vh 5vw;
    text-align: center;
    border-radius: 20px;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.cards{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;

}

.card{
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(0,0,0,0.24)0px 3px 8px;
    border-radius: 10px;
      
}

.image{
    width: 350px;
    aspect-ratio:1/1;
    object-fit: cover;
    border-radius: 10px;
    height: 435px;


}

.tour-info{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}


.tour-price{
    background-color: #49a6e9;
    color:  #eff0ef;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.tour-name{
    font-size: 1.5rem;
    font-weight: 700;
    

}

.read-more{
    color:#219cf3;
    cursor: pointer;
    font-size: 1.2rem;



}

.btn-red{
    margin-top:18px;
    padding: 10px 80px;
    border:1px solid #b4161b;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #b4161b21;
    
    

}


.btn-red:hover{
    background-color:#219cf3;
    color: #eff0ef;
    transition: 0.2s ease-in-out;
}

.refresh{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.btn-wite{
    margin-top:18px;
    padding: 10px 80px;
    border:1px solid #000000;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
}

.btn-wite:hover{
    background-color:#219cf3;
    color: #eff0ef;
    transition: 0.2s ease-in-out;
}